.question {
    padding: 50px;
    border-radius: 15px;
    border: solid 5px #f3f388;
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.buttons {
    display: flex;
    margin: auto;
    width: 404px;
    justify-content: space-around;
    margin-top: 20px;
}

.true-button {
    background-color: green;
}

.false-button {
    background-color: red;
}

.bothButtons {
    padding: 10px;
    width: 75px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.responseImage {
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.page {
    display: flex;
    justify-content: space-around;
    background-color: #c8cbdd;
    border-radius: 45px;
    margin-top: 15px;
}

.nextButton {
    padding: 10px;
    width: 175px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    background-color: orange;
    border-radius: 15px;
    cursor: pointer;
}

.hideButton {
    padding: 10px;
    width: 175px;
    border-radius: 15px;
    margin: auto;
    background-color: #f55ba0;
    color: white;
    cursor: pointer;
}